version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8383:8383"
    environment:
      - PORT=8383
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    networks:
      - crb-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5174:5174"
    environment:
      - PORT=5174
    env_file:
      - ./frontend/.env
    networks:
      - crb-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - crb-network

networks:
  crb-network:
    driver: bridge
